/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ------------------------------------------------------------ */
.homepage-bgimage {
   /* background: url("../src/images/wallpaperflare.com_wallpaper (5).jpg");  */
   background-color: hsl(0, 45%, 98%);

  opacity: .7;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-attachment: fixed;
  object-fit: cover;
}
.color-primary{
  color:#FFF !important;
 
}
.background-dark{
  background-color: #212121;
}
.underline-none{
  text-decoration:none !important;
}
